export const enum {{.className}} {
{{- range .enums}}
  {{.name}} = {{.value}},
{{- end}}
}

export const {{.className}}Values = [
{{- range .enums}}
  {{$.className}}.{{.name}},
{{- end}}
];

export enum Enum{{.className}} {
{{- range .enums}}
  {{.name}} = {{.value}},
{{- end}}
}

export const Enum{{.className}}Values = [
{{- range .enums}}
  Enum{{$.className}}.{{.name}},
{{- end}}
];
