export {{.primaryKeyword}} {{.className}} {
{{- range .enums}}
  {{.name}} = {{.value}},
{{- end}}
}

export const {{.className}}Values = [
{{- range .enums}}
{{- if $.valuesLiteral}}
  {{.value}},
{{- else}}
  {{$.className}}.{{.name}},
{{- end}}
{{- end}}
];
{{- if .autoAlias}}

export {{.aliasKeyword}} {{.aliasPrefix}}{{.className}} {
{{- range .enums}}
  {{.name}} = {{.value}},
{{- end}}
}

export const {{.aliasPrefix}}{{.className}}Values = [
{{- range .enums}}
  {{$.aliasPrefix}}{{$.className}}.{{.name}},
{{- end}}
];
{{- end}}
{{- if .byName}}

export const {{.className}}ByName = {
{{- range .enums}}
  {{.name}}: {{.value}},
{{- end}}
};
{{- end}}
{{- if .byValue}}

export const {{.className}}ByValue = {
{{- range .enums}}
  {{.value}}: "{{.name}}",
{{- end}}
};
{{- end}}
